<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- コンソール出力の設定 -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<ConversionPattern value="%date [%thread] [%-5level] (%method) - %message%n" />
		</layout>
	</appender>
	<appender name="MonthlyAppender" type="log4net.Appender.RollingFileAppender" >
		<File value="C:\temp\log4net\" />
		<DatePattern value='yyyyMM".log"' />
		<StaticLogFileName value="false" />
		<RollingStyle value="date" />
		<AppendToFile value="true" />
		<MaximumFileSize value="30MB" />
		<MaxSizeRollBackups value="12" />
		<layout type="log4net.Layout.PatternLayout">
			<ConversionPattern value="%date [%thread] [%-5level] (%class.%method) - %message%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<LevelMax value="FATAL" />
			<LevelMin value="DEBUG" />
		</filter>
	</appender>
	<!-- ルートロガーの設定 -->
	<root>
		<level value="INFO" />
		<appender-ref ref="MonthlyAppender" />
	</root>
</log4net>
